@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: lightskyblue;
    font-family: 'Roboto';
}

/* header */

header{
    height: 60px;
}

a{
    text-decoration: none;
    color: black;
}

.logo{
    float: left;
}

.logo img{
    vertical-align: middle;
    height: 20px;
}

.navbar-left{
    float: left;
}

.navbar-right{
    float: right;
}

.start{
    float: right;
}

.navigation-bar{
    line-height: 60px;
    width: 1200px;
    position: fixed;
    background-color: white;
    padding: 0 20px;
}

.navigation-bar ul li{
    display: inline-block;
    list-style: none;
    padding: 0 20px;
}

.button-start{
    background-color: blue;
    color: white;
    padding: 5px 10px;
}

/* jumbotron */

.jumbotron{
    width: 100%;
    height: 550px;
    background-color: aqua;
    padding-top: 40px;
}

.container-jumbo{
    width: 85%;
    margin: 30px auto;
}

.container-jumbo h1{
    font-size: 65px;
}

.jumbo-info{
    margin-top: 30px;;
}

.jumbo-text-info{
    float: left;
    width: 40%;
    font-size: 15px;
    padding-right: 60px;
}

.jumbo-text-info p.text{
    margin-bottom: 30px;
}

.jumbo-text-info .button{
    margin-bottom: 15px;
}

.free-trial{
    background-color: blue;
    padding: 5px 10px;
    color: white;
}

.jumbo-text-info span{
    font-size: 12px;
}

.jumbo-text-info .fas{
    font-size: 30px;
    margin-top: 30px;
}

.jumbo-img-info{
    float: right;
    width: 60%;
    height: 350px;
}

.jumbo-img-info img{
    height: 100%;
}

/* main */

main{
    width: 1200px;
    padding-top: 100px;
}

/* main section 1*/

.main-section-1{
    width: 100%;
    height: 1000px;
    padding-bottom: 100px;
}

.main-section-1 h2{
    margin-bottom: 30px;
}

.main-section-1 .billing-choice{
    padding-bottom: 20px;
    width: 70%;
    margin: 0 auto;
}

.subs-types{
    width: 70%;
    height: 100px;
    margin: 0 auto;
}

.vertical-column{
    width: 32%;
    height: 800px;
    background-color: white;
    border: 1px solid red;
    float: left;
}

.vertical-column.central-col{
    margin: 0 2%;
}

.title-column{
    border-bottom: 1px solid red;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.info-text-col{
    padding: 0 20px;
    margin: 20px 0;
}

.row-column{
    padding-bottom: 10px;
}

.price-col{
    padding-bottom: 5px;
}

.month-user{
    color: grey;
    padding-bottom: 30px;
}

.row-column .button-vertical-col{
    padding: 5px 15px;
    background-color: blue;
    color: white;
}

.row-column.button{
    margin-top: 30px;
    margin-bottom: 15px;;
}

.link-column{
    color: blue;
}

.mini-border{
    padding-bottom: 20px;
    border-bottom: 1px solid red;
}

.horizontal-column{
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid red;
    float: left;
    margin-top: 30px;
}

.horizontal-col-left{
    width: 70%;
    float: left;
}

.horizontal-col-right{
    width: 30%;
    float: right;
}

/* main section 2 */

.main-section-2{
    width: 70%;
    margin: 0 auto;
}

.section-2-left{
    float: left;
    width: 50%;
    height: 420px;
    margin-top: 100px;
    margin-bottom: 80px;
}

.section-2-img{
    background-image: url(../img/partner.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2-text{
    padding: 50px;
    background-color: white;
}

.section-2-text h4{
    padding-bottom: 20px;
}

.section-2-text p{
    margin-bottom: 40px;
}


.button-section-2{
    padding: 10px 15px;
    background-color: white;
    border: 1px solid grey;
}

/* main section 3 */

.main-section-3{
    width: 70%;
    margin: 0 auto;
}

.box-section-3{
    float: left;
    width: 30%;
    margin-bottom: 80px;
}

.box-section-3.central-box{
    margin: 0 5%;
}

.box-section-3 h5{
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.box-section-3 p{
    font-size: 15px;
}

.box-section-3 .img-box{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    background-color: white;
}

.box-section-3 .box-1{
    background-image: url(../img/business-feature-switching-tools.png);
}

.box-section-3 .box-2{
    background-image: url(../img/business-feature-coordinate-it.png);
}

.box-section-3 .box-3{
    background-image: url(../img/business-feature-multi-device.png);
}

.box-section-3 .box-4{
    background-image: url(../img/business-feature-integrations-it.png);
}

.box-section-3 .box-5{
    background-image: url(../img/business-feature-send-files-it.png);
}

.box-section-3 .box-6{
    background-image: url(../img/business-feature-security.png);
}

/* section 4 */

.title-info-bottom{
    width: 70%;
    margin: 0 auto;
}

.title-info-bottom.top-section{
    padding-right: 30%;
}

.title-info-bottom h2{
    margin-bottom: 15px;
}

.title-info-bottom a{
    text-decoration: underline;
    color: rgb(0, 97, 255);
}

.teams-dropbox{
    width: 100%;
    height: 400px;
    margin-top: 30px;
}

.teams-left, .team-opinion{
    float: left;
}

.teams-right{
    float: right;
}

.teams-left, .teams-right{
    width: 30%;
    height: 100%;
}

.team-opinion{
    width: 40%;
    height: 100%;
}

.box-teams .img-logo-team{
    height: 200px;
    width: 50%;
    float: left;
    position: relative;
}

.box-teams img{
    width: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(1);
}

.team-logo-1{
    background-color: rgb(162, 211, 155);
    border: 10px solid rgba(255, 255, 255, 0.5);
}

.team-logo-2{
    background-color: rgb(97, 8, 43);
}

.team-logo-3{
    background-color: rgb(0, 147, 206);
}

.team-logo-4{
    background-color: rgb(255, 28, 28);
}

.team-logo-5{
    background-color: rgb(213, 0, 31);
}

.team-logo-6{
    background-color: rgb(180, 208, 231);
}

.team-logo-7{
    background-color: rgb(13, 36, 129);
}

.team-logo-8{
    background-color: rgb(255, 216, 48);
}

.team-opinion{
    padding: 30px;
}

.team-opinion img{
    width: 100px;
    padding-bottom: 30px;
}

.team-opinion p{
    margin: 40px 0;
}

.bottom-title{
    background-color: rgb(180, 208, 231);
    padding: 100px 0;
    position: relative;
}

.title-bottom-section{
    float: left;
    width: 50%;
    position: relative;
}

.title-bottom-section h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    color: rgb(97, 8, 43);
}

.link-bottom-section{
    float: right;
    width: 50%;
    position: relative;
}

.link-bottom-section a{
    padding: 5px 20px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* section 5 */

.faq{
    width: 70%;
    margin: 0 auto;
    padding: 100px;
}

.faq h3{
    padding-bottom: 40px;
}

.faq-ok{
    border-top: 1px solid black;
}

.faq-ok h5{
    height: 50px;
    line-height: 50px;
}

.faq-row{
    border-bottom: 1px solid black;
}

.faq-row .question{
    display: block;
}

.faq-row .answer{
    display: none;
}

.show-answer:hover .answer{
    display: block;
}